@using Radzen.Blazor

<RadzenCard Style="width:500px;">

    <h3 class="card-title">Pass-Through</h3>
    
    @foreach (var cycleTime in CycleTimes.CycleTimes)
    {
        <div>@cycleTime.Type.Name (Average): @cycleTime.AverageCycleTime</div>
        <div>@cycleTime.Type.Name (Best): @cycleTime.BestCycleTime</div>
        <div>@cycleTime.Type.Name (Worst): @cycleTime.WorstCycleTime</div>
        <br/>
    }
    
</RadzenCard>