@using Radzen.Blazor

<RadzenCard Style="width:500px;">

    <h3 class="card-title">Pass-Through</h3>

    <b>Story (Average): @AverageStoryCycleTime</b>
    <b>Story (Best): @BestStoryCycleTime</b>
    <b>Story (Worst): @WorstStoryCycleTime</b>
    <br/>
    <b>Bug (Average): @AverageBugCycleTime</b>
    <b>Bug (Best): @BestBugCycleTime</b>
    <b>Bug (Worst): @WorstBugCycleTime</b>
    <br/>
    <b>Other (Average): @AverageOtherCycleTime</b>
    <b>Other (Best): @BestOtherCycleTime</b>
    <b>Other (Worst): @WorstOtherCycleTime</b>
    
</RadzenCard>