@using Radzen.Blazor

<RadzenCard Style="width:1520px;">

    <h3 class="card-title">Velocity</h3>

    <RadzenChart>

        <RadzenLineSeries Data="@VelocityTrend.VelocitySeries"
                          CategoryProperty="X"
                          Title="Velocity"
                          ValueProperty="Y">
            <RadzenMarkers MarkerType="MarkerType.None"/>
        </RadzenLineSeries>

        <RadzenCategoryAxis Padding="20" />
        <RadzenColumnOptions Radius="5"/>

        <RadzenValueAxis>
            <RadzenGridLines Visible="true"/>
            <RadzenAxisTitle Text="Story Points"/>
        </RadzenValueAxis>
    </RadzenChart>

    <b>Sprint Length: @ProductConfig.SprintLength</b>
    <b>Velocity: @Velocity.AverageVelocity SP</b>
    <b>Velocity of best 3 Sprints: @Velocity.Best3SprintsAverageVelocity SP</b>
    <b>Velocity of worst 3 Sprints: @Velocity.Worst3SprintsAverageVelocity SP</b>

</RadzenCard>

