@using Radzen.Blazor
@using Io.Juenger.Scrum.Metrix.WebUI.Shared.Scrum

@page "/ProductReport"
<RadzenProgressBar Value="@Progress"/>
<h3>Product Report</h3>

@if (_reportCreated)
{
    <div style="display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap; margin-top: 10px">
        <BurnDownChart BurnDown="@_burnDown" Title=@($"Product {_selectedProduct?.Id}")></BurnDownChart>
    </div>
    
    <div style="display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap; margin-top: 10px">
        <VelocityView Velocity="@_velocity" VelocityTrend="@_velocityTrend"/>
    </div>

    <div style="margin-top: 10px; display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap; gap: 10px">
        <ItemPieChart Items="@TotalItems" Title="Product Composition"/>
        <CycleTime CycleTimes="@_cycleTimes"/>
    </div>
    
    <div style="margin-top: 10px; display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap; gap: 10px">
        <ItemsOverview Title="Open" Items="@OpenItems"/>
        <ItemsOverview Title="Completed" Items="@ClosedItems"/>
    </div>
}
else if (_selectedProduct != null)
{
    <div>Creating product report...</div>
}
else if (_selectedProduct == null)
{
    <div class="information">No Product selected! Please select a Product!</div>
}
